@function rem($px) {
  $rems: $px / 16;
  @return #{$rems}rem;
}

// Colors
$white: #fff;
$golden: #daad83;
$menu-links-grey: #707070;
$cyan-dark: #0c0a12;
$gray-map: #2c2a34;
$cyan-darker: #08060e;
$black: #000;

//Color theme
$backgroundColorPrimary: $cyan-dark;
$backgroundColorSecondary: $cyan-darker;
$textColorPrimary: rgba($white, .5);
$textColorSecondary: $golden;

//Measures
$elemHight: 3rem;
$elemMargin: 4rem;
$blockHeight: 6rem;

//Images
//$showHomeImage: true;
//$homeImage: url(../img/background.jpg);
//$backgroundOpacity: .7;

//Mixins
@mixin font($family: Roboto, $style: regular) {
    @if $style == light {
        font-family: $family, sans-serif;
        font-weight: 300;
    }

    @if $style == regular {
        font-family: $family, sans-serif;
        font-weight: 400;
    }

    @if $style == semi_bold {
        font-family: $family, sans-serif;
        font-weight: 600;
    }

    @if $style == bold {
        font-family: $family, sans-serif;
        font-weight: 700;
    }
}

@mixin easeOut {
    transition: all .5s ease-out;
}

@mixin background($homeImage, $backgroundColor, $backgroundOpacity) {
    @if $showHomeImage {
        &#bg-img {
            background: $homeImage;
            background-attachment: fixed;
            background-size: cover;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba($backgroundColor, $backgroundOpacity);
      }
    }
  }
}

@mixin placecolor($color: rgba($white, .5)) {
    &::-webkit-input-placeholder {
        color: $color;
    }

    &:-moz-placeholder {
        color: $color;
    }

    &::-moz-placeholder {
        color: $color;
    }

    &:-ms-input-placeholder {
        color: $color;
    }
}

//Set Text Color
@function setTextColor($color) {
    @if (lightness($color) > 40) {
        @return $black;
    } @else {
        @return $white;
    }
}

//Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}

//Headers
h1 {
    font-size: 1.5rem;
    color: rgba($white, .5);
}
